<!--
*  Document:  c05.component.html
*
*  Author:    andreas.benz.development@outlook.de
*
*  Owner:     andreas.benz.development@outlook.de
*
*  History:
*
*  120.06.19 initial build
-->
<div class="c05-container">

    <div class="header-container">
        <div class="header-item">
            <h1 id="header-item-a">TA</h1>
            <h1 id="header-item-b">RGETS</h1>
        </div>
    </div>

    <div class="description-container">
        <div id="description-item">
            <p>{{ description}}</p>
        </div>
    </div>

    <div id="timeline-container">
<timeline-item></timeline-item>
    </div>

</div>