<!--
*  Document:  c03.component.html
*
*  Author:    andreas.benz.development@outlook.de
*
*  Owner:     andreas.benz.development@outlook.de
*
*  History:
*
*  17.06.19 initial build

-->
<div class="c03-container">

        <div class="header-container">
            <div class="header-item">
                <h1 id="header-item-a">AI</h1>
                <h1 id="header-item-b">YANA</h1>
            </div>
        </div>
    
        <div class="content-container">
            <div id="content-item">
                <p>{{content}}</p>
            </div>
        </div>
    
    </div>