/**
*  Document:  c06.component.scss
*
*  Author:    andreas.benz.development@outlook.de
*
*  Owner:     andreas.benz.development@outlook.de
*
*  History:
*
*  20.06.19 initial build
*/
@import "../../variables.scss";

.c06-container{
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}
.header-container{
  display: flex;
  height:20vh;
  align-items: center;
  justify-content: center;
}
.header-item{
    display:flex;
    flex-direction: row;
}

h1{
    font-weight: 200;
    font-size: 48px;
    line-height: 56px;
}
#header-item-a{
  color:map-get($colors,primaryColor);

}
#header-item-b{
  color:map-get($colors,accentColor);
}

#grid-container{
    display: flex;


}
.description-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
  }
  #description-item{
    width: 80vw;
  }
p{
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
}