<!--
*  Document:  c06.component.html
*
*  Author:    andreas.benz.development@outlook.de
*
*  Owner:     andreas.benz.development@outlook.de
*
*  History:
*
*  20.06.19 initial build
-->
<div class="c06-container">

    <div class="header-container">
        <div class="header-item">
            <h1 id="header-item-a">SU</h1>
            <h1 id="header-item-b">PPORTERS</h1>
        </div>
    </div>
    <div class="description-container">
        <div id="description-item">
            <p>{{ description}}</p>
        </div>
    </div>
    <div id="grid-container">
           <app-support-list></app-support-list>
    </div>

</div>