<!--
*  Document:  app.component.html
*
*  Author:    andreas.benz.development@outlook.de
*
*  Owner:     andreas.benz.development@outlook.de
*
*  History:
*
*  02.05.19 initial build
-->
<div class="grid-container">
  <div class="grid-item"><app-c01></app-c01></div>
  <div class="grid-item"><app-c02></app-c02></div>
  <div class="grid-item"><app-c03></app-c03></div>
  <div class="grid-item"><app-c04></app-c04></div>
  <div class="grid-item"><app-c05></app-c05></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div>
