/*
*  Document:  style.scss
*
*  Author:    andreas.benz.development@outlook.de
*
*  Owner:     andreas.benz.development@outlook.de
*
*  History:
*
*  02.05.19 initial build
*/
@import "./variables.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  margin:0;
  background:map-get($colors,backgroundColor);
  }
html{
  margin:0;
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  color:map-get($colors,fontColor);
}
a {
  cursor: pointer;
  cursor: hand;
}


